name: build
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-20.04
    container: python:3.9-slim
    steps:
    - uses: actions/checkout@v2
    - name: Install pybuilder
      run: pip install pybuilder
    - name: Execute build
      run: pyb